/*form {
	width: 500px;
	margin: 10px auto;
}
*/
/*h1, h2, h3 {
	padding: 10px 0;
} 

a {
	text-align: right;
	font-size: 18px;
	color: #1C86EE;
}

.xtree_contianer {
	width: 500px;
	border: 10px solid #9C9C9C;
	overflow: auto;
	margin-bottom: 30px;
	background-color: #fff;
	padding: 10px 0 25px 5px;
}

.div-btns {
	margin: 20px 0;
}

.layui-form-label {
	width: 60px !important;
}*/